body {
    font-family: "Montserrat", sans-serif;
}

body.index {
    background-color: #0a2459;
    color: #d9d3cc;
}

.navbar {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
    z-index: 2;
}

.navbar a.nav-link.qlf-nav-link {
    color: #d9d3cc;
}

.navbar a.nav-link.qlf-nav-link:hover {
    color: #a61212;
}

.qlf-nav-links {
    display: flex;
    justify-content: flex-end;
}

.container-fluid.text-center.qlf-container {
    margin: 0;
    padding: 0 5%;
}

.qlf-central-logo {
    width: 20%;
    height: auto;
}

.title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
}

.qlf-tile {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
    border: solid #aaaaaa 1px;
    width: 40%;
}

.qlf-central-tile {
    padding: 5%;
}

.qlf-central-container {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
    color: #a61212;
}

.content {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
}

.qlf-label {
    font-family: "Bebas Neue", sans-serif;
    color: #0A2459;
    display: block;
}

.qlf-label {
    margin-top: 3%;
}

input {
    background-color: #eeeeee;
    color: #0d0d0d;
    padding: 2% 5%;
    display: inline-block;
    font-size: 1em;
    width: 100%;
    border: none;
    border-radius: 30px;
}

a.qlf-link-signup {
    text-align: center;
    display: block;
    margin: 5% 0;
    text-decoration: none;
    color: #1592e6;
    font-size: 0.8em;
}

a.qlf-link-signup:hover {
    text-decoration: underline;
}

.btn.btn-lg.btn-block.btn-go-qlf {
    background-color: #a61212;
    font-family: "Bebas Neue", sans-serif;
    color: #d9d3cc;
    font-size: 3em;
}

.qlf-rounded-btn {
    background-color: #a61212;
    font-family: "Bebas Neue", sans-serif;
    color: #d9d3cc;
    fonts-size: 1em;
    width: 60%;
    margin: auto;
    display: block;
}

.btn.btn-lg.btn-block.btn-go-qlf:hover, .qlf-rounded-btn:hover {
    background-color: #bf3f34;
}

.qlf-socials-icon-fixed-right {
    height: 100%;
    right: 3%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.qlf-alert {
    color: #bf3f34;
}

a.fa {
    color: #d9d3cc;
    font-size: 3em;
    margin: 100% 0;
}

a.fa:hover {
    color: #bf3f34;
    text-decoration: none;
}
