body {
    font-family: "Montserrat", sans-serif;
    max-width: 100%;
}

body.index {
    background-color: #0a2459;
    color: #d9d3cc;
}

.navbar {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
    z-index: 2;
    border-radius: 0;
}

.navbar.navbar-expand-lg.navbar-dark > #navbarText > .navbar-nav > .nav-item {
    padding: 0 5%;
}

.navbar.navbar-expand-lg.navbar-dark > #navbarText > .navbar-nav > .nav-item > a.nav-link.qlf-nav-link {
    padding: 0;
}

.qlf-home-icon {
    height: 10%;
    width: 10%;
}

.navbar a.nav-link.qlf-nav-link {
    color: #d9d3cc;
}

.navbar a.nav-link.qlf-nav-link:hover, .navbar.navbar-expand-lg.navbar-dark > a:hover {
    color: #a61212;
}

.navbar.navbar-expand-lg.navbar-dark {
    background-color: #0a2459;
}

.navbar.navbar-expand-lg.navbar-dark > a {
    color: #d9d3cc;
    text-decoration: none;
}

.qlf-nav-links {
    display: flex;
    justify-content: flex-end;
}

.container-fluid.text-center.qlf-container {
    margin: 0;
    padding: 0 5%;
}

.qlf-central-logo {
    width: 20%;
    height: auto;
}

.title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
}

.qlf-tile {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
    border: solid #aaaaaa 1px;
    width: 40%;
}

.qlf-large-tile {
    width: 70%;
}

.qlf-central-tile {
    padding: 5%;
}

.qlf-central-container {
    display: flex;
    justify-content: center;
    padding: 5% 0;
}

.qlf-split-form {
    display: flex;
    justify-content: space-between;
}

.qlf-splitted-content {
    width: 48%;
}

.qlf-splitted-content-3 {
    width: 30%;
    border: solid 1px #1592e6;
    border-radius: 10px;
    text-align: center;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.qlf-splitted-content-checked {
    background-color: #0A2459;
    color: #d9d3cc;
}

.qlf-splitted-content-3 > p {
    margin: 0;
    color: #0A2459;
    font-size: 0.8em;
}

.qlf-splitted-content-checked > p {
    color: #d9d3cc;
}

.qlf-splitted-content-3 > p.qlf-price {
    font-weight: bold;
}

.qlf-splitted-content > .qlf-radio-label {
    font-family: "Bebas Neue", sans-serif;
    color: #0A2459;
    width: 100%;
    margin: 0;
}

.qlf-splitted-content > .qlf-radio-label > .qlf-radio-input {
    display: inline;
    width: 20%;
    margin: 0;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
    color: #a61212;
}

.qlf-product-price {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
    color: #0A2459;
}

.qlf-product-description {
    font-size: 1.2em;
}

.qlf-news {
    font-weight: bold;
}

.content {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
}

.qlf-label {
    font-family: "Bebas Neue", sans-serif;
    color: #0A2459;
    display: block;
    margin-top: 3%;
}

input {
    background-color: #eeeeee;
    color: #0d0d0d;
    padding: 2% 5%;
    display: inline-block;
    font-size: 1em;
    width: 100%;
    border: none;
    border-radius: 30px;
}

input.qlf-product-category {
    display: inline;
    width: auto;
}

.qlf-product-category {
    margin: 0 1%;
}

.qlf-checkbox-inline {
    display: inline;
}

#qlf-edit-profile,
#qlf-edit-product {
    padding: 2% 5%;
    font-size: 1em;
    border: none;
    border-radius: 30px;
}

.qlf-splitted-content .qlf-editable-content {
    padding: 2% 5%
}

input[type="text"][disabled], input[type="email"][disabled], input[type="tel"][disabled], textarea[disabled] {
    color: #8d8d8d;
}

#qlf-label-description {
    margin-top: 3%;
}

#qlf-input-description {
    width: 100%;
    height: 85%;
    border-radius: 30px;
    padding: 4% 5%;
    font-size: 1em;
    border: none;
    background-color: #eeeeee;
}

*:focus {
    outline: none;
}

.qlf-splitted-content > input {
    padding: 4% 10%;
}

.qlf-splitted-content > .qlf-label {
    margin-top: 6%;
}

.qlf-img-container {
    display: flex;
    flex-wrap: wrap;
}

.qlf-img-container > a {
    margin: 1%;
}

.qlf-img-container > .qlf-square-img {
    margin: 1%;
}

.qlf-square-img-product {
    width: 10em;
    height: 10em;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.qlf-square-img {
    width: 10em;
    height: 10em;
    border-radius: 20px;
    border: solid #aaaaaa 1px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.qlf-large-img {
    width: 100%;
    height: 30em;
    border-radius: 20px;
    border: solid #aaaaaa 1px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a.qlf-link-signup {
    text-align: center;
    display: block;
    margin: 5% 0;
    text-decoration: none;
    color: #1592e6;
    font-size: 0.8em;
}

a.qlf-link-signup:hover {
    text-decoration: underline;
}

a.qlf-link-password-forgotten {
    text-align: center;
    display: block;
    margin: 5% 0;
    text-decoration: none;
    color: #1592e6;
    font-size: 0.8em;
}

a.qlf-link-password-forgotten:hover {
    text-decoration: underline;
}

.btn.btn-lg.btn-block.btn-go-qlf {
    background-color: #a61212;
    font-family: "Bebas Neue", sans-serif;
    color: #d9d3cc;
    font-size: 3em;
}

.qlf-rounded-btn {
    background-color: #a61212;
    font-family: "Bebas Neue", sans-serif;
    color: #d9d3cc;
    font-size: 1em;
    width: 60%;
    margin: 5% auto 0 auto;
    display: block;
}

.qlf-new-section {
    margin-top: 5%;
}

.btn.btn-lg.btn-block.btn-go-qlf:hover, .qlf-rounded-btn:hover {
    background-color: #bf3f34;
}

.qlf-socials-icon-fixed-right {
    height: 100%;
    right: 3%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.qlf-alert {
    color: #bf3f34;
}

.qlf-success {
    color: #34bf3f;
}

a.fa {
    color: #d9d3cc;
    font-size: 3em;
    margin: 100% 0;
}

a.fa:hover {
    color: #bf3f34;
    text-decoration: none;
}

a.qlf-add-link {
    display: block;
    margin: auto;
    color: #0d0d0d;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
}

#erreur {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
    color: #d9d3cc;
}

.qlf-splitted-content > .qlf-label {
    margin-top: 6%;
}

.qlf-img-container {
    display: flex;
    flex-wrap: wrap;
}

.qlf-img-container > a {
    margin: 1%;
}

.qlf-img-container > .qlf-square-img {
    margin: 1%;
}

.qlf-square-img {
    width: 10em;
    height: 10em;
    border-radius: 20px;
    border: solid #aaaaaa 1px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img_producer_products {
    /*max-height: 150px;*/
    /*max-width: 150px;*/
    height: 150px;
    width: 150px;
    margin: 20px;
    margin-top: 10px;
}

.left-home {
    background-color: #0a2459;
    min-height: 100vh;
    max-width: 60vh;
    border-bottom-right-radius: 100% 900px;
}


.div-producers-product {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
    border: solid #aaaaaa 1px;
    margin: 10px;
    flex-wrap: wrap;
}

.producers-product-title {
    font-size: 20px;
    text-align: center;
}

.list-producers-product, .info-producer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.product-info {
    padding-top: 1em;
    padding-bottom: -0.55em;
    margin: 0;
}

.info-producers-product {
    /*margin-right: 10px;*/
    margin-top: 1em;
    margin-right: 1em;
}

.info-producer h1 {
    text-align: center;
}

.info-producer .qlf-tile {
    margin: 10px;
    padding: 10px;
}

.qlf-split-form-producer {
    width: 48%;
}

.left-home {
    background-color: #0a2459;
    min-height: 100vh;
    max-width: 60vh;
    border-bottom-right-radius: 100% 900px;
}


.div-producers-product {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 5px 5px 3px rgba(10, 36, 89, 0.3);
    border: solid #aaaaaa 1px;
    margin: 10px;
    width: 25%;
    word-break: break-word;
}

.producers-title {
    font-size: 20px;
    text-align: center;
}

.list-producers-product, .info-producer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.info-producer h1 {
    text-align: center;
}

.info-producer .qlf-tile {
    margin: 10px;
    padding: 10px;
}

.qlf-split-form-producer {
    width: 48%;
}

.qlf-send-request {
    border: 1px solid #ced4da;
    border-right: none;
    background-color: #0a2459;
    color: #ffffff;
    border-radius: 5px;
}

.qlf-reset-request {
    border: 1px solid #ced4da;
    border-left: none;
    background-color: #bf3f34;
    color: #ffffff;
    border-radius: 5px;
}

.qlf-blue{
    color : #0a2459;
}

.displayinline{
    display: inline-block;
}

.input-group > .form-control.qlf-form-control{
    border-radius: 5px;
}