<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
    />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap" rel="stylesheet"/>
    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="icon" type="image/png" href="images/logo_sans_texte.png"/>
    <title>Ajout d'un produit</title>
</head>
<body>
<div th:insert="fragments/navbar.html :: navbar"></div>
<div class="qlf-central-container">
    <div id="connexion" class="qlf-central-tile qlf-tile">
        <h1>Ajouter un produit</h1>
        <p class="qlf-alert" th:text="${error}"></p>
        <form method="post" enctype="multipart/form-data" action="/addproductconfirm">
            <label class="qlf-label" for='name'>Nom</label>
            <input id='name' name='name' type='text' placeholder="Entrez le nom" required/>

            <label class="qlf-label" for="productCategory">Catégorie de produit</label>
            <select name="productCategory" id="productCategory">
                <option value="1">Fruit et légume</option>
                <option value="2">Viande</option>
                <option value="3">Produit laitier</option>
            </select>
            <label class="qlf-label" for='description'>Description</label>
            <input id='description' name='description' type='text' required
                   placeholder="Entrez la description"/>
            <label class="qlf-label" for='price'>Prix</label>
            <input id='price' name='price' type='tel' pattern="[0-9 ]{1,}[,.]{0,1}[0-9]{0,2}" required
                   placeholder="Entrez le prix"/>
            <label class="qlf-label" for="typePrice">Type de vente</label>
            <select name="typePrice" id="typePrice">
                <option value="1">Au kilogramme</option>
                <option value="2">À l'unité</option>
            </select>
            <label class="qlf-label" for='price'>Image</label>
            <input type="file" id="picture" name="picture" accept="image/png, image/jpeg"
                   placeholder="Choisissez une image">
            <input class="qlf-rounded-btn" name='btnConnect' type='submit'/>
        </form>
    </div>
</div>
</body>
</html>