<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
    />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap" rel="stylesheet"/>

    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="css/design_style.css"/>
    <link rel="icon" type="image/png" href="images/logo.png"/>

    <title>QLF - Que La Ferme</title>
</head>
<body class="index">
<div class="qlf-socials-icon-fixed-right">
    <a href="https://twitter.com/univ_paris?lang=fr" class="fa fa-twitter"></a>
    <a href="https://www.facebook.com/univparis" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/univ_paris/" class="fa fa-instagram"></a>
</div>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="collapse navbar-collapse qlf-nav-links" id="navbarText">
            <ul class="navbar-nav qlf-nav-links">
                <li class="nav-item" th:if="${session.customer == null}">
                    <a class="nav-link qlf-nav-link" href="/login">Connexion</a>
                </li>
                <li class="nav-item" th:if="${session.customer == null}">
                    <a class="nav-link qlf-nav-link" href="/signup">Inscription</a>
                </li>
                <li class="nav-item" th:if="${session.customer != null}">
                    <a class="nav-link qlf-nav-link" href="/profile">Mon profil</a>
                </li>
                <li class="nav-item" th:if="${session.customer != null}">
                    <a class="nav-link qlf-nav-link" href="/logout">Déconnexion</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div>
    <div class="container-fluid text-center qlf-container">
        <div class="row">
            <div class="col">
                <div class="container">
                    <img src="images/logo.png" alt="QLF" class="qlf-central-logo"/>
                    <div class="title">Succombez au made in France</div>
                    <div class="content my-5">
                        Vous retrouverez ici une liste d'indénombrable commerces de proximité 100% made in France.
                    </div>
                    <a class="btn btn-lg btn-block btn-go-qlf" href="/viewproducts">Accéder à mes commerces de proximité
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<h2>Pour nos tests</h2>
<p>Voir tous les produits <a href="/viewproducts">ici</a></p>
<p>Voir tous les producteurs <a href="/viewproducers">ici</a></p>

</body>
