<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
    />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap" rel="stylesheet"/>

    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="css/design_style.css"/>
    <link rel="icon" type="image/png" href="images/logo_sans_texte.png"/>

    <title>QLF - Que La Ferme</title>
</head>
<body class="index">
<div class="qlf-socials-icon-fixed-right">
    <a href="https://twitter.com/univ_paris?lang=fr" class="fa fa-twitter"></a>
    <a href="https://www.facebook.com/univparis" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/univ_paris/" class="fa fa-instagram"></a>
</div>
<div th:insert="fragments/navbar.html :: navbar"></div>
<div>
    <div class="container-fluid text-center qlf-container">
        <div class="row">
            <div class="col">
                <div class="container">
                    <img src="images/logo_first_page.png" alt="QLF" class="qlf-central-logo"/>
                    <div class="content mb-3">
                        Succombez au made in France ! Vous retrouverez ici une liste d'indénombrable commerces de proximité.
                    </div>
                    <a class="btn btn-lg btn-go-qlf qlf-width-btn" href="/viewproducts">Découvre notre catalogue de produit
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
