<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Index</h1>
<p th:if="${session.customer != null}" th:text="'Hello, ' + ${session.customer.email} + ' !'"></p>

<img src="images/logo.png"/>

<p>Greeting <a href="/queryparam">ici</a></p>
<p>Crud <a href="/crud">ici</a></p>
<p th:if="${session.customer == null}">Inscription <a href="/signup">ici</a></p>
<p th:if="${session.customer == null}">Connexion <a href="/login">ici</a></p>
<p th:if="${session.customer != null}">Déconnexion <a href="/logout">ici</a></p>
<p th:if="${session.customer != null}">Profil <a href="/profil">ici</a></p>
<p>Voir tous les produits <a href="/viewproducts">ici</a></p>
<p>Voir tous les producteurs <a href="/viewproducteurs">ici</a></p>

</body>
