<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Connexion</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Inscription</h1>

<form method="post" action="/loginconfirm">
    <label for='email'>Email :</label>
    <input id='email' name='email' type='text'/> <br/>

    <label for='password'>Mot de passe :</label>
    <input id='password' name='password' type='text'/> <br/>

    <br/>
    <input name='btnConnect' type='submit'/> <br/>
</form>
</body>
</html>