<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Inscription</title>
    <link rel='stylesheet' type='text/css' href='styles.css' />
</head>
<body>
<h1>Inscription !</h1>

<form method="post" action="/producteurRegistration">
    <label for='txtNom'>Nom :</label>
    <input id='txtNom' name='txtNom' type='text'  /> <br/>

    <label for='txtPrenom'>Prenom :</label>
    <input id='txtPrenom' name='txtPrenom' type='text' /> <br/>

    <label for='txtEmail'>Email :</label>
    <input id='txtEmail' name='txtEmail' type='text'  /> <br/>

    <label for='txtMotDePasse'>Mot de passe :</label>
    <input id='txtMotDePasse' name='txtMotDePasse' type='text'  /> <br/>

    <label for='txtRue'>Rue :</label>
    <input id='txtRue' name='txtRue' type='text' /> <br/>

    <label for='txtNum'>Num :</label>
    <input id='txtNum' name='txtNum' type='text'  /> <br/>

    <label for='txtCodePostal'>code postal :</label>
    <input id='txtCodePostal' name='txtCodePostal' type='text'  /> <br/>

    <label for='txtVille'>Ville :</label>
    <input id='txtVille' name='txtVille' type='text' /> <br/>

    <label for='txtPays'>Pays :</label>
    <input id='txtPays' name='txtPays' type='text' /> <br/>

    <label for='txtTel'>Pays :</label>
    <input id='txtTel' name='txtTel' type='text' /> <br/>

    <label for='txtRib'>Pays :</label>
    <input id='txtRib' name='txtRib' type='text' /> <br/>

    <br/>
    <input name='btnConnect' type='submit' /> <br/>
</form>
</body>
</html>