<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
    />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap" rel="stylesheet"/>

    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="css/design_style.css"/>
    <link rel="icon" type="image/png" href="images/logo.png"/>

    <title>Fiche producteur</title>
</head>
<body>

<div class="producer-container">
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a href="/">
                <img class="qlf-home-icon" src="images/logo.png"/>
                <span>Accueil</span>
            </a>
            <a style="margin-right: 50px" href="/viewproducers">Producteurs</a>
            <a href="/viewproducts">Produits</a>
        </nav>
    </div>

    <div>
        <div class="info-producer">
            <div class="qlf-tile">
                <h1 th:text="${customer.firstName}+' '+${customer.lastName}"></h1>
                <p class="qlf-alert" th:text="${error}"></p>
                <div class="qlf-split-form">
                    <div class="qlf-split-form-producer">
                        <p th:text="'Entreprise : ' +${customer.company} "></p>
                        <p th:text="'Email : ' +${customer.email} "></p>
                        <p th:text="'Adresse : ' +${customer.address} "></p>
                        <p th:text="'Code postal : ' +${customer.postalCode} "></p>
                        <p th:text="'Ville : ' +${customer.city} "></p>
                        <p th:text="'Téléphone : ' +${customer.phoneNumber} "></p>
                    </div>
                    <div class="qlf-split-form-producer">
                        <p>Description :</p>
                        <p th:text="${descriptionFormat}">
                    </div>
                </div>
            </div>
        </div>
        <div class="list-producers-product">
            <div id="producer_products" class="div-producers-product" th:each="Product : ${listProducts}">
                <a href="/product" th:href="@{/product(productId=${Product.id})}">
                    <p class="producers-product-title" th:utext="${Product.name}"></p>
                </a>
                <div class="qlf-split-form">
                    <div>
                        <img class="img_producer_products" th:src="${Product.urlPhoto}">
                    </div>
                    <div class="info-producers-product">

                        <p th:utext="${Product.price}+' €'"></p>
                        <p th:utext="${Product.category?.name}"></p>
                        <p th:utext="${Product.description}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>