<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
    />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap" rel="stylesheet"/>

    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="css/design_style.css"/>
    <link rel="icon" type="image/png" href="images/logo_sans_texte.png"/>

    <title th:text="'Producteur - ' + ${#strings.capitalize(customer.firstName)}+' '+${customer.lastName.toUpperCase()}"></title>
</head>
<body>
<div th:insert="fragments/navbar.html :: navbar"></div>
<div class="producer-container">
    <div>
        <div class="info-producer">
            <div class="qlf-tile">
                <h1 th:text="${customer.firstName}+' '+${customer.lastName}"></h1>
                <p class="qlf-alert" th:text="${error}"></p>
                <div class="qlf-split-form">
                    <div class="qlf-split-form-producer">
                        <p>Entreprise : <span class="displayinline font-weight-bold" th:text="${customer.company}"></span></p>
                        <p>Email : <span class="displayinline font-weight-bold" th:text="${customer.email} "></span></p>
                        <p>Adresse : <span class="displayinline font-weight-bold" th:text="${customer.address} "></span></p>
                        <p>Code postal : <span class="displayinline font-weight-bold" th:text="${customer.postalCode} "></span></p>
                        <p>Ville : <span class="displayinline font-weight-bold" th:text="${customer.city} "></span></p>
                        <p>Téléphone : <span class="displayinline font-weight-bold" th:text="${customer.phoneNumber} "></span></p>
                    </div>
                    <div class="qlf-split-form-producer">
                        <p>Description :</p>
                        <p class="font-weight-bold" th:text="${descriptionFormat}">
                    </div>
                </div>
            </div>
        </div>
        <div class="list-producers-product">
            <div id="producer_products" class="div-producers-product" th:each="Product : ${listProducts}">
                <a href="/product" th:href="@{/viewproduct(productId=${Product.id})}">
                    <p class="producers-product-title qlf-blue" th:utext="${#strings.capitalize(Product.name)}"></p>
                </a>
                <div class="qlf-split-form qlf-producer-product">
                    <a th:href="@{/viewproduct(productId=${Product.id})}">
                        <div class="qlf-img-container-product">
                            <div th:style="'background: url('+${Product.urlPhoto}+') 50% 50% no-repeat; background-size: contain'"
                                 class="qlf-square-img-product">
                            </div>
                        </div>
                    </a>

                    <div class="info-producers-product">
                        <p class="product-info" th:if="${Product.type == '1'}" th:utext="${Product.price}+' € le kilo'"></p>
                        <p class="product-info" th:if="${Product.type == '2'}" th:utext="${Product.price}+' € l\'unité'"></p>
                        <p class="product-info" th:utext="${Product.category?.name}"></p>
                        <p class="product-info" th:utext="${Product.description}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>