<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Inscription</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Inscription</h1>

<form method="post" action="/signupconfirm">
    <label for='lastName'>Nom :</label>
    <input id='lastName' name='lastName' type='text'/> <br/>

    <label for='firstName'>Prenom :</label>
    <input id='firstName' name='firstName' type='text'/> <br/>

    <label for='email'>Email :</label>
    <input id='email' name='email' type='email'/> <br/>

    <label for='password'>Mot de passe :</label>
    <input id='password' name='password' type='text'/> <br/>

    <label for='address'>Adresse :</label>
    <input id='address' name='address' type='text'/> <br/>

    <label for='postalCode'>Code postal :</label>
    <input id='postalCode' name='postalCode' type='text'/> <br/>

    <label for='city'>Ville :</label>
    <input id='city' name='city' type='text'/> <br/>

    <label for='phoneNumber'>Telephone :</label>
    <input id='phoneNumber' name='phoneNumber' type='text'/> <br/>

    <input type="radio" id="producer" name="type" value="producer">
    <label for="producer">Producer</label><br>

    <input type="radio" id="customer" name="type" value="customer">
    <label for="customer">Consumer</label><br>

    <br/>
    <input name='btnConnect' type='submit'/> <br/>
    <p>Index <a href="/index">ici</a></p>
</form>
</body>
</html>