<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ViewProduct</title>
</head>
<body>
<form method="post" action="/productcategory">

    <input type="checkbox" id="fruit_legume" name="fruit_legume" value="fruit_legume">
    <label for="fruit_legume"> fruit et légumes</label><br>
    <input type="checkbox" id="viande" name="viande" value="viande">
    <label for="viande"> viande</label><br>
    <input type="checkbox" id="laitiers" name="laitiers" value="laitiers">
    <label for="laitiers"> laitiers</label><br>

    <br/>
    <input name='btnConnect' type='submit'/> <br/>
    <p>Index <a href="/index">ici</a></p>
</form>

<div th:each="Product : ${listProducts}">
    <ul>
        <li>
            name :
            <a href="/product" th:href="@{/product(productId=${Product.id})}"><td th:utext="${Product.name}"></td></a>
            description :
            <td th:utext="${Product.description}"></td>
            price :
            <td th:utext="${Product.price}"></td>
            urlPhoto :
            <td th:utext="${Product.urlPhoto}"></td>
            category :
            <td th:utext="${Product.category?.name}"></td>
            customer :
            <td th:utext="${Product.customer?.firstName}"></td>

        </li>
    </ul>
</div>
<p>Index <a href="/index">ici</a></p>
</body>
</html>