<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ViewProducteurs</title>
    <style>
        form{
            display: inline;
        }
    </style>
</head>
<body>

<form method="post" action="/searchresult2">
    <label for="search">Search the site:</label>
    <input type="search" id="search" name="keyword">
    <button>Search</button>
</form>
<form method="post" action="/searchresult2">
    <input type="hidden" value="" name="keyword">
    <button>Clear</button>
</form>

        <div th:each="Customer : ${listCustomers}">
            <ul>
                <li>
                    Prénom : <a href="/producer" th:href="@{/producer(producerId=${Customer.id})}"><td th:utext="${Customer.firstName}"></td></a>
                    Prénom : <td th:utext="${Customer.firstName}"></td>
                    Nom : <td th:utext="${Customer.lastName}"></td>
                    Adresse :  <td th:utext="${Customer.address}"></td>
                    Email : <td th:utext="${Customer.email}"></td>
                </li>
            </ul>
        </div>
<p>Index <a href="/index">ici</a></p>

</body>
</html>