<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des producteurs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Liste des producteurs</h1>

<div th:each="Customer : ${listCustomers}">
    <ul>
        <li>
            Prénom : <a href="/producer" th:href="@{/producer(producerId=${Customer.id})}">
            <td th:utext="${Customer.firstName}"></td>
        </a>
            Prénom :
            <td th:utext="${Customer.firstName}"></td>
            Nom :
            <td th:utext="${Customer.lastName}"></td>
            Adresse :
            <td th:utext="${Customer.address}"></td>
            Email :
            <td th:utext="${Customer.email}"></td>
        </li>
    </ul>
</div>
<p>Index <a href="/index">ici</a></p>
</body>
</html>