<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des produits</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
    <style>
        form{
            display: inline;
        }
    </style>
</head>
<body>

<h1>Liste des produits</h1>

<form method="post" action="/productcategory">

    <input type="checkbox" id="fruitLegume" name="fruitLegume" value="fruitLegume">
    <label for="fruitLegume"> fruit et légume</label><br>
    <input type="checkbox" id="viande" name="viande" value="viande">
    <label for="viande"> viande</label><br>
    <input type="checkbox" id="laitier" name="laitier" value="laitiers">
    <label for="laitier"> laitier</label><br>

    <br/>
    <input name='btnConnect' type='submit'/> <br/>
    <p>Index <a href="/index">ici</a></p>
</form>

<form method="post" action="/searchresult">
    <label for="search">Search the site:</label>
    <input type="search" id="search" name="keyword">
    <button>Search</button>
</form>
<form method="post" action="/searchresult">
    <input type="hidden" value="" name="keyword">
    <button>Clear</button>
</form>

<div th:each="Product : ${listProducts}">
    <ul>
        <li>
            name :
            <a href="/product" th:href="@{/product(productId=${Product.id})}">
                <td th:utext="${Product.name}"></td>
            </a>
            description :
            <td th:utext="${Product.description}"></td>
            price :
            <td th:utext="${Product.price}"></td>
            urlPhoto :
            <td th:utext="${Product.urlPhoto}"></td>
            category :
            <td th:utext="${Product.category?.name}"></td>
            customer :
            <a href="/producer" th:href="@{/producer(producerId=${Product.customer?.id})}"><td th:utext="${Product.customer?.firstName}"></td></a>

        </li>
    </ul>
</div>
</body>
</html>