<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des producteurs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        form{
            display: inline;
        }
    </style>
</head>
<body>

<h1>Liste des producteurs</h1>

<form method="post" action="/searchproducers">
    <label for="search">Search the site:</label>
    <input type="search" id="search" name="keyword">
    <button>Search</button>
</form>
<form method="post" action="/searchproducers">
    <input type="hidden" value="" name="keyword">
    <button>Clear</button>
</form>

<form method="post" action="/filterproducers">
    <label for="filter">Filter the site:</label>
    <input type="filter" id="filter" name="distance">
    <button>Search</button>
</form>

<div th:each="Customer : ${listCustomers}">
    <ul>
        <li>
            Prénom : <a href="/producer" th:href="@{/producer(producerId=${Customer.id})}"><td th:utext="${Customer.firstName}"></td></a>
            Nom : <td th:utext="${Customer.lastName}"></td>
            Adresse :  <td th:utext="${Customer.address}"></td>
            Email : <td th:utext="${Customer.email}"></td>
            Email : <td th:utext="${Customer.phoneNumber}"></td>
        </li>
    </ul>
</div>
<p>Index <a href="/index">ici</a></p>

</body>
</html>