<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ViewProducteurs</title>
</head>
<body>
        <div th:each="Customer : ${listCustomers}">
            <ul>
                <li>
                    Prénom : <td th:utext="${Customer.firstName}"></td>
                    Nom : <td th:utext="${Customer.lastName}"></td>
                    Adresse :  <td th:utext="${Customer.address}"></td>
                    Email : <td th:utext="${Customer.email}"></td>
                </li>
            </ul>
        </div>
<p>Index <a href="/index">ici</a></p>
</body>
</html>